.background{
    background-image: url(../images/nature.jfif);
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
}